h2 {
  text-align: center;
  display: inline;
  margin-left: 20%;
}

.cards {
   justify-content: center;
   display: inline-flex;
   flex-wrap: wrap;
  }
 
  mat-card {
    position: relative;
    margin: 5px;
   max-width: 320px; 
   min-width: 280px;
  }
 
  mat-card-actions {
text-align: center; 
  }

  mat-card-content{
   padding-bottom: 40px;
 }
 