<h2>Perfumes Management</h2><br>
<mat-form-field class="searchProd">
  <input matInput type="text" class="form-control" placeholder="Search by product name" #searchname name="searchname" />
  <button mat-button matSuffix (click)="searchName(searchname.value)" mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>

<div class="cards" style="padding: 5px;">
  <mat-spinner *ngIf="dataSource.length === 0"></mat-spinner>

  <mat-card class="card" *ngFor="let product of dataSource, let i=index">
    <mat-card-header>
      <mat-card-title>{{product.prodname}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ product.urlpicture }}" alt="Photo of a Product">
    <mat-card-content>
      <mat-label><b>cost : {{product.cost}} $ </b></mat-label>
      <p>{{product.description}}</p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="editSelectedProduct(product)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-raised-button color="warn" (click)="deleteSelectedProduct(product)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

</div>
<!-- 
<button mat-raised-button color="primary" (click)="loadProd()">REFRESH</button> -->
