<mat-toolbar color="primary" class="navbar">
  <div><mat-icon>local_florist</mat-icon> PERFUME WEB-SHOP</div>
  <div>
    <mat-icon *ngIf="this.cartHasItems>0" matBadge="this.cartHasItems" matBadgeColor="warn" (click)="goToCart()">shopping_cart</mat-icon>
    <span >Welcome :  {{this.userAdmin.curentUser}}</span>

  
    <a mat-fab matTooltip="return to main page" routerLink="/shopforclient/shopall"><mat-icon>home</mat-icon></a>
    <a mat-fab matTooltip="Info about the site" routerLink="/about"><mat-icon>help</mat-icon></a>
    

    <button mat-fab  matTooltip="Logout from Administrative Mode" (click)="logOut()"
     *ngIf="this.userAdmin.Logined"><mat-icon>logout</mat-icon></button>
    <button mat-fab   matTooltip="LogIn to Administrative Mode" (click)="logIn()"
    *ngIf="!this.userAdmin.Logined"><mat-icon>login</mat-icon></button>
 

  </div>


</mat-toolbar>
