h2 {
  text-align: center;
  display: inline;
  margin-left: 20%;
}

.card-columns {
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
}

img {
  height: 300px;
}

mat-card {
  position: relative;
  margin: 7px;
  min-width: 280px;
  max-width: 320px;
  height: auto;
}

.addOrderConteiner {
  display: inline-block;
}

.example-part-width {
  width: 100%;
  margin: 0 3px 0 3px;
  padding: 0 3x 0 3px;
}

.message{
  border: 1px solid purple;
  border-radius: 3px;
  background-color: purple;
  box-shadow: 3px 3px 3px rgb(70, 69, 69);
  font-size: large;
  font-weight: bolder;
  color: greenyellow;
padding: 10px;
width: 400px;
}
