<h1>  <mat-icon>shopping_basket</mat-icon>Cart Details</h1>
<button mat-raised-button color="primary" (click)="goBack()">GO BACK</button>
<button mat-raised-button color="accent" (click)="goToOrder()">DO ORDER</button>
<div class="totalSumDisplay"><h3 style="margin-left: 20px;"><b>TOTAL SUM : {{Total()}} $</b></h3></div>
<div class="card-columns" style="padding: 13px;">

  <mat-card class="example-card" *ngFor="let cartDetail of cartPerfumeList" style="margin:10px;">
    <mat-card-header>
      <mat-card-title>{{cartDetail.elem.prodname}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ cartDetail.elem.urlpicture }}" alt="Photo of a Product">
    <mat-card-content>
      <p>
        {{cartDetail.elem.description}}
      </p>
    </mat-card-content>
    <mat-label ><b>COST : {{cartDetail.elem.cost}} $ </b></mat-label>
    <mat-divider></mat-divider>

    <mat-card-actions >
      <!-- actiions -->
      <button mat-mini-fab color="warn" (click)="cartDetail.quantity=cartDetail.quantity-1"
        [disabled]="cartDetail.quantity==0">
        <mat-icon>remove</mat-icon>
      </button>
      <mat-label style="margin:10px;"><b> {{cartDetail.quantity}} items </b></mat-label>
      <button mat-mini-fab color="primary" (click)="cartDetail.quantity=cartDetail.quantity+1">
        <mat-icon>add</mat-icon>
      </button><br>
      <mat-label><b>SUM : {{cartDetail.elem.cost*cartDetail.quantity}} $ </b></mat-label><br>
    </mat-card-actions>
  </mat-card>



