<h2>Orders Management</h2><br>

  <mat-form-field class="searchOrder">
    <input matInput type="text" class="form-control" placeholder="Search by user name" #byorder
      name="byorder" />
    <button mat-button matSuffix (click)="searchOrder(byorder.value)" mat-icon-button>
      <mat-icon>person_search</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="searchOrderID">
    <input matInput type="number" class="form-control" placeholder="Search by order ID" #byorderid
      name="byorderid" />
    <button mat-button matSuffix (click)="searchOrderID(byorderid.value)" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <button mat-button matSuffix (click)="loadOrders()" mat-icon-button>
    <mat-icon>refresh</mat-icon>
  </button>
<h4 mat-small>{{this.message}}</h4>

<div class="card-columns" style="padding: 13px; margin:10px;">

  <mat-card class="card card-cascade narrower " *ngFor="let order of dataSource, let i=index">

    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon>details</mat-icon> ID - {{order.id }}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>perm_identity</mat-icon> Name - {{order.name}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>call</mat-icon> Phone - {{order.phone}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>location_city</mat-icon> City - {{order.city}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>home</mat-icon> Address - {{order.address}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>alternate_email</mat-icon> Email - {{order.email}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>attach_money</mat-icon> SUM - {{order.sum}} $
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>local_shipping</mat-icon> Shiping? - {{order.delivery}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>done_outline</mat-icon> Received? - {{order.orderstatus}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>redeem</mat-icon> From US - {{order.wishes}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>note</mat-icon> Notes - {{order.notes}}
      </mat-list-item>
    </mat-list>
<mat-divider></mat-divider>
    <div class="example-button-row" justify-content-center>
      <button mat-raised-button color="accent" m-3 center (click)="editSelectedOrder(order)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-raised-button color="warn" m-3 center (click)="deleteSelectedOrder(order)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-raised-button color="primary" m-3 center (click)="lookItems(order.id)">
        <mat-icon>list</mat-icon>
      </button>
    </div>

  </mat-card>

</div>
<!-- 
  <button mat-raised-button color="primary" (click)="loadOrders()">REFRESH</button>  -->
