<h2>Orders Management</h2><br>
<mat-form-field class="searchOrder">
  <input matInput type="text" class="form-control" placeholder="Search by user name" #searchorder name="searchorder" />
  <button mat-button matSuffix (click)="searchOrder(searchorder.value)"mat-icon-button ><mat-icon>search</mat-icon></button>
</mat-form-field> 
<h4 mat-small >{{this.message}}</h4>

<div class="card-columns" style="padding: 13px; margin:10px;">

  <mat-card class="card card-cascade narrower " *ngFor="let order of dataSource, let i=index" style="padding: 13px; margin:10px;width: 300px;">

    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon>details</mat-icon> ID - {{order.id }}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>perm_identity</mat-icon> Name - {{order.name}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>call</mat-icon> Phone - {{order.phone}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>location_city</mat-icon> City - {{order.city}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>home</mat-icon> Address - {{order.address}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>alternate_email</mat-icon> Email - {{order.email}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>attach_money</mat-icon> SUM - {{order.sum}} $
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>local_shipping</mat-icon> Shiping? - {{order.delivery}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>done_outline</mat-icon> Received? - {{order.orderstatus}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>redeem</mat-icon> From US - {{order.wishes}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>note</mat-icon> Notes - {{order.notes}}
      </mat-list-item>
     </mat-list>

     <div class="example-button-row" justify-content-center>
    <button mat-raised-button color="accent" m-3 center (click)="editSelectedOrder(order)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-raised-button color="warn" m-3 center (click)="deleteSelectedOrder(order)">
      <mat-icon>delete</mat-icon>
    </button>
     </div>

</mat-card>

</div>
<!-- 
  <button mat-raised-button color="primary" (click)="loadOrders()">REFRESH</button>  -->