<h2>Perfumes List</h2><br>

<mat-form-field class="searchProd">
  <input matInput type="text" class="form-control" placeholder="Search by product name" #searchname name="searchname" />
  <button mat-button matSuffix (click)="searchPerfume(searchname.value)" mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>
<button mat-raised-button color="primary" (click)="goToCartList()" style="margin-left: 15px;">Your CART</button>

<div class="cards" style="padding: 13px;">
  <mat-spinner *ngIf="this.dataSource.length === 0"></mat-spinner>
  <mat-card cascade="true" class="card" *ngFor="let product of dataSource, let i=index">
    <mat-card-header>
      <mat-card-title>{{product.prodname}}</mat-card-title>
    </mat-card-header>


    <img mat-card-image src="{{ product.urlpicture }}" alt="Photo of a Product" class="view view-cascade overlay">
    <mat-card-content>
      <mat-label><b>cost : {{product.cost}} $ </b></mat-label>
      <p> {{product.description}} </p>
    </mat-card-content>

    <mat-card-actions>
      <!-- actiions [disabled]="this.cart.findInCart(product)"-->

      <button #add{{id}} mat-raised-button color="primary" size="md" ml-3 (click)="addItemToCart(product)"
        *ngIf="!this.cart.findInCart(product)">
        <mat-icon>add_shopping_cart</mat-icon>ADD to Cart
      </button>
      <button #out{{id}} mat-raised-button color="warn" size="md" ml-3 (click)="removeFromCart(product)"
        *ngIf="this.cart.findInCart(product)">
        <mat-icon>add_shopping_cart</mat-icon>Cancel from Cart
      </button>
    </mat-card-actions>

  </mat-card>
</div>

<!-- <button mat-raised-button color="primary" (click)="loadProd()">REFRESH</button> -->
