 h2 {
   text-align: center;
   display: inline;
   margin-left: 20%;
 }

 .cards {
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
 }

 mat-card {
   position: relative;
   margin: 5px;
  max-width: 320px; 
  min-width: 280px;
 }

 mat-card-actions {
   display: inline;
   position: absolute;
   bottom: 20px;
   right: 20px;
 }

 mat-card-content{
  padding-bottom: 40px;
}
