.exemple-form {
  min-width: 420px;
  margin-left: 15px;
}

.example-part-width {
  margin: 10px;
  width: 100%;
}
mat-checkbox{
  margin-right:15px ;
}
h2{
  text-align: center;
  display: inline;
  margin-left: 20%;
}