 img{
    max-height: 80vh;
   }
.exemple-form , .example-card{
  min-width: 420px;margin-left: 15px;
}

::ng-deep .mat-grid-tile .mat-figure {
    display:inline-block !important; /* or whichever you need */
   
  }
  .example-part-width {
    margin: 10px;
   
    width: 100%;
   }

.ng-star-inserted{
    width:-webkit-fill-available ;
}
h2{
  text-align: center;
  display: inline;
  margin-left: 20%;
}